# Data Detox - Cleaning Data using Pandas

#### Imported the pandas library to clean the data

In [5]:
import pandas as pd

#### Now load the csv file while contains the dataset we have to work on

In [6]:
df = pd.read_csv('customer_data.csv')

#### Keeping backup of dataset.

In [7]:
backup = df.copy()

If we directly did 'backup = df' this does not create an independent copy.
Instead, it creates a reference to the same DataFrame in memory.df and backup both point to the same object.
Any operation on df (like filtering) that produces a view or a slice may cause ambiguity when you modify it later.

So the above command was run instead,to ensure df and backup remain independent.

#### Now as the dataset has 51K rows (this is found by manually looking at the dataset in an excel sheet),we'll look into only the first 20 rows ,for now.

In [8]:
df.head(20)

,CustomerID,Name,Age,Gender,Country,SignupDate,LastLogin,TotalPurchase,PreferredDevice,Email
0,e3e70682-c209-4cac-a29f-6fbed82c07cd,Christopher Williams,63.0,Male,USA,2021-12-22,2023-09-12,2141.15,dasktop,margaret03@bullock.info
1,f728b4fa-4248-4e3a-8a5d-2f346baa9455,Kevin Hopkins,42.0,Female,UK,2023-04-21,2024-06-28,2863.67,NaN,tammy76@mcintyre.org
2,eb1167b3-67a9-4378-bc65-c1e582e2e662,Sonya Stafford,76.0,Femlae,UK,2020-09-16,2023-06-13,2427.18,NaN,lauramichael@hotmail.com
3,f7c1bd87-4da5-4709-9471-3d60c8a70639,Matthew Schmidt,53.0,Unknown,Indai,2021-05-16,2024-12-15,5986.07,moblie,@example.com
4,e443df78-9558-467f-9ba9-1faf7a024204,Kristen Banks,74.0,NaN,UK,2022-04-14,2025-01-08,3374.72,dasktop,blacknicole@smith-lewis.com
5,23a7711a-8133-4876-b7eb-dcd9e87a1613,Andrew Adams,74.0,NaN,USA,2022-03-09,2023-07-13,740.75,moblie,james83@henderson.com
6,1846d424-c17c-4279-a3c6-612f48268673,7061,51.0,Female,UK,2021-01-16,2024-09-23,7702.33,dasktop,woodsusan@yahoo.com
7,fcbd04c3-4021-4ef7-8ca5-a5a19e4d6e3c,Amanda Webster,38.0,Unknown,USA,2020-11-26,2023-11-21,5103.92,mobile,jason95@collins.com
8,b4862b21-fb97-4435-8856-1712e8e5216a,David Holt,63.0,NaN,Germany,2021-01-07,2024-04-16,1666.40,mobile,tammythomas@brown.org
9,259f4329-e6f4-490b-9a16-4106cf6a659e,Cameron Guerrero,29.0,mle,UK,2023-11-14,2024-12-15,7062.40,dasktop,murraydylan@gmail.com
10,12e0c8b2-bad6-40fb-9948-8dec4f65d4d9,Heather Turner,76.0,Unknown,India,2020-09-16,2024-04-21,2649.93,moblie,reginafrancis@morris.biz
11,5487ce1e-af19-422a-99b8-a714e61a441c,Gary Brown,49.0,NaN,USA,2020-06-29,NaN,8294.37,mobile,rogerslance@gmail.com
12,5a921187-19c7-4df4-8f4f-f31e78de5857,Patrick Hayden,35.0,Female,Indai,2022-05-09,2024-10-07,3747.94,moblie,diazbrian@hotmail.com
13,a3f2c9bf-9c63-46b9-90f2-44556f25e2a2,Breanna Mcdowell,NaN,Male,Germany,2024-03-23,2024-09-15,NaN,NaN,davidking@gmail.com
14,8d723104-f773-43c1-b458-a748e9bb17bc,Gary Holloway,25.0,NaN,NaN,2022-08-07,2023-06-05,4162.92,moblie,shelby04@lucero-petersen.info
15,85776e9a-dd84-439e-b154-5a137a1d5006,Ian Brown,58.0,Unknown,UK,2023-07-15,2024-02-10,7392.79,dasktop,zhernandez@gmail.com
16,eb2083e6-ce16-4dba-8ff1-8e0242af9fc3,Cristian Shepard,29.0,Femlae,USA,2022-03-03,2025-02-16,8169.49,desktop,hollyleonard@yahoo.com
17,17e0aa3c-0398-4ca8-aa7e-9d498c778ea6,Melissa Mann,NaN,NaN,USA,2022-05-31,2024-12-05,NaN,desktop,hperez@jones.com
18,b5d32b16-6619-4cb1-9710-37d1b83e90ec,Hannah Rose,70.0,NaN,USA,2022-08-06,NaN,258.34,NaN,lancepayne@yahoo.com
19,a0116be5-ab0c-4681-88f8-e3d0d3290a4c,George Moore,63.0,Unknown,USA,2022-09-11,2024-07-03,8494.35,desktop,NaN

Upon observation,the CustomerID column looks fine.

It looks like the easiest thing to work on is the spelling mistakes in the columns Country and PreferredDevice.

#### So we shall fix the mistake where India is misspelled as Indai

In [9]:
df['Country'] = df['Country'].replace('Indai', 'India')
df.head(20)

,CustomerID,Name,Age,Gender,Country,SignupDate,LastLogin,TotalPurchase,PreferredDevice,Email
0,e3e70682-c209-4cac-a29f-6fbed82c07cd,Christopher Williams,63.0,Male,USA,2021-12-22,2023-09-12,2141.15,dasktop,margaret03@bullock.info
1,f728b4fa-4248-4e3a-8a5d-2f346baa9455,Kevin Hopkins,42.0,Female,UK,2023-04-21,2024-06-28,2863.67,NaN,tammy76@mcintyre.org
2,eb1167b3-67a9-4378-bc65-c1e582e2e662,Sonya Stafford,76.0,Femlae,UK,2020-09-16,2023-06-13,2427.18,NaN,lauramichael@hotmail.com
3,f7c1bd87-4da5-4709-9471-3d60c8a70639,Matthew Schmidt,53.0,Unknown,India,2021-05-16,2024-12-15,5986.07,moblie,@example.com
4,e443df78-9558-467f-9ba9-1faf7a024204,Kristen Banks,74.0,NaN,UK,2022-04-14,2025-01-08,3374.72,dasktop,blacknicole@smith-lewis.com
5,23a7711a-8133-4876-b7eb-dcd9e87a1613,Andrew Adams,74.0,NaN,USA,2022-03-09,2023-07-13,740.75,moblie,james83@henderson.com
6,1846d424-c17c-4279-a3c6-612f48268673,7061,51.0,Female,UK,2021-01-16,2024-09-23,7702.33,dasktop,woodsusan@yahoo.com
7,fcbd04c3-4021-4ef7-8ca5-a5a19e4d6e3c,Amanda Webster,38.0,Unknown,USA,2020-11-26,2023-11-21,5103.92,mobile,jason95@collins.com
8,b4862b21-fb97-4435-8856-1712e8e5216a,David Holt,63.0,NaN,Germany,2021-01-07,2024-04-16,1666.40,mobile,tammythomas@brown.org
9,259f4329-e6f4-490b-9a16-4106cf6a659e,Cameron Guerrero,29.0,mle,UK,2023-11-14,2024-12-15,7062.40,dasktop,murraydylan@gmail.com
10,12e0c8b2-bad6-40fb-9948-8dec4f65d4d9,Heather Turner,76.0,Unknown,India,2020-09-16,2024-04-21,2649.93,moblie,reginafrancis@morris.biz
11,5487ce1e-af19-422a-99b8-a714e61a441c,Gary Brown,49.0,NaN,USA,2020-06-29,NaN,8294.37,mobile,rogerslance@gmail.com
12,5a921187-19c7-4df4-8f4f-f31e78de5857,Patrick Hayden,35.0,Female,India,2022-05-09,2024-10-07,3747.94,moblie,diazbrian@hotmail.com
13,a3f2c9bf-9c63-46b9-90f2-44556f25e2a2,Breanna Mcdowell,NaN,Male,Germany,2024-03-23,2024-09-15,NaN,NaN,davidking@gmail.com
14,8d723104-f773-43c1-b458-a748e9bb17bc,Gary Holloway,25.0,NaN,NaN,2022-08-07,2023-06-05,4162.92,moblie,shelby04@lucero-petersen.info
15,85776e9a-dd84-439e-b154-5a137a1d5006,Ian Brown,58.0,Unknown,UK,2023-07-15,2024-02-10,7392.79,dasktop,zhernandez@gmail.com
16,eb2083e6-ce16-4dba-8ff1-8e0242af9fc3,Cristian Shepard,29.0,Femlae,USA,2022-03-03,2025-02-16,8169.49,desktop,hollyleonard@yahoo.com
17,17e0aa3c-0398-4ca8-aa7e-9d498c778ea6,Melissa Mann,NaN,NaN,USA,2022-05-31,2024-12-05,NaN,desktop,hperez@jones.com
18,b5d32b16-6619-4cb1-9710-37d1b83e90ec,Hannah Rose,70.0,NaN,USA,2022-08-06,NaN,258.34,NaN,lancepayne@yahoo.com
19,a0116be5-ab0c-4681-88f8-e3d0d3290a4c,George Moore,63.0,Unknown,USA,2022-09-11,2024-07-03,8494.35,desktop,NaN

#### Fixing the spellings of desktop and mobile in PreferredDevice column

In [10]:
df['PreferredDevice'] = df['PreferredDevice'].replace({'dasktop':'desktop','moblie':'mobile'})

In [11]:
df.head(20)

,CustomerID,Name,Age,Gender,Country,SignupDate,LastLogin,TotalPurchase,PreferredDevice,Email
0,e3e70682-c209-4cac-a29f-6fbed82c07cd,Christopher Williams,63.0,Male,USA,2021-12-22,2023-09-12,2141.15,desktop,margaret03@bullock.info
1,f728b4fa-4248-4e3a-8a5d-2f346baa9455,Kevin Hopkins,42.0,Female,UK,2023-04-21,2024-06-28,2863.67,NaN,tammy76@mcintyre.org
2,eb1167b3-67a9-4378-bc65-c1e582e2e662,Sonya Stafford,76.0,Femlae,UK,2020-09-16,2023-06-13,2427.18,NaN,lauramichael@hotmail.com
3,f7c1bd87-4da5-4709-9471-3d60c8a70639,Matthew Schmidt,53.0,Unknown,India,2021-05-16,2024-12-15,5986.07,mobile,@example.com
4,e443df78-9558-467f-9ba9-1faf7a024204,Kristen Banks,74.0,NaN,UK,2022-04-14,2025-01-08,3374.72,desktop,blacknicole@smith-lewis.com
5,23a7711a-8133-4876-b7eb-dcd9e87a1613,Andrew Adams,74.0,NaN,USA,2022-03-09,2023-07-13,740.75,mobile,james83@henderson.com
6,1846d424-c17c-4279-a3c6-612f48268673,7061,51.0,Female,UK,2021-01-16,2024-09-23,7702.33,desktop,woodsusan@yahoo.com
7,fcbd04c3-4021-4ef7-8ca5-a5a19e4d6e3c,Amanda Webster,38.0,Unknown,USA,2020-11-26,2023-11-21,5103.92,mobile,jason95@collins.com
8,b4862b21-fb97-4435-8856-1712e8e5216a,David Holt,63.0,NaN,Germany,2021-01-07,2024-04-16,1666.40,mobile,tammythomas@brown.org
9,259f4329-e6f4-490b-9a16-4106cf6a659e,Cameron Guerrero,29.0,mle,UK,2023-11-14,2024-12-15,7062.40,desktop,murraydylan@gmail.com
10,12e0c8b2-bad6-40fb-9948-8dec4f65d4d9,Heather Turner,76.0,Unknown,India,2020-09-16,2024-04-21,2649.93,mobile,reginafrancis@morris.biz
11,5487ce1e-af19-422a-99b8-a714e61a441c,Gary Brown,49.0,NaN,USA,2020-06-29,NaN,8294.37,mobile,rogerslance@gmail.com
12,5a921187-19c7-4df4-8f4f-f31e78de5857,Patrick Hayden,35.0,Female,India,2022-05-09,2024-10-07,3747.94,mobile,diazbrian@hotmail.com
13,a3f2c9bf-9c63-46b9-90f2-44556f25e2a2,Breanna Mcdowell,NaN,Male,Germany,2024-03-23,2024-09-15,NaN,NaN,davidking@gmail.com
14,8d723104-f773-43c1-b458-a748e9bb17bc,Gary Holloway,25.0,NaN,NaN,2022-08-07,2023-06-05,4162.92,mobile,shelby04@lucero-petersen.info
15,85776e9a-dd84-439e-b154-5a137a1d5006,Ian Brown,58.0,Unknown,UK,2023-07-15,2024-02-10,7392.79,desktop,zhernandez@gmail.com
16,eb2083e6-ce16-4dba-8ff1-8e0242af9fc3,Cristian Shepard,29.0,Femlae,USA,2022-03-03,2025-02-16,8169.49,desktop,hollyleonard@yahoo.com
17,17e0aa3c-0398-4ca8-aa7e-9d498c778ea6,Melissa Mann,NaN,NaN,USA,2022-05-31,2024-12-05,NaN,desktop,hperez@jones.com
18,b5d32b16-6619-4cb1-9710-37d1b83e90ec,Hannah Rose,70.0,NaN,USA,2022-08-06,NaN,258.34,NaN,lancepayne@yahoo.com
19,a0116be5-ab0c-4681-88f8-e3d0d3290a4c,George Moore,63.0,Unknown,USA,2022-09-11,2024-07-03,8494.35,desktop,NaN

#### Similarly we fix spelling mistakes of Female and Male in the column Gender

In [12]:
df['Gender'] = df['Gender'].replace({'mle':'Male','Femlae':'Female'})
df.head(20)

,CustomerID,Name,Age,Gender,Country,SignupDate,LastLogin,TotalPurchase,PreferredDevice,Email
0,e3e70682-c209-4cac-a29f-6fbed82c07cd,Christopher Williams,63.0,Male,USA,2021-12-22,2023-09-12,2141.15,desktop,margaret03@bullock.info
1,f728b4fa-4248-4e3a-8a5d-2f346baa9455,Kevin Hopkins,42.0,Female,UK,2023-04-21,2024-06-28,2863.67,NaN,tammy76@mcintyre.org
2,eb1167b3-67a9-4378-bc65-c1e582e2e662,Sonya Stafford,76.0,Female,UK,2020-09-16,2023-06-13,2427.18,NaN,lauramichael@hotmail.com
3,f7c1bd87-4da5-4709-9471-3d60c8a70639,Matthew Schmidt,53.0,Unknown,India,2021-05-16,2024-12-15,5986.07,mobile,@example.com
4,e443df78-9558-467f-9ba9-1faf7a024204,Kristen Banks,74.0,NaN,UK,2022-04-14,2025-01-08,3374.72,desktop,blacknicole@smith-lewis.com
5,23a7711a-8133-4876-b7eb-dcd9e87a1613,Andrew Adams,74.0,NaN,USA,2022-03-09,2023-07-13,740.75,mobile,james83@henderson.com
6,1846d424-c17c-4279-a3c6-612f48268673,7061,51.0,Female,UK,2021-01-16,2024-09-23,7702.33,desktop,woodsusan@yahoo.com
7,fcbd04c3-4021-4ef7-8ca5-a5a19e4d6e3c,Amanda Webster,38.0,Unknown,USA,2020-11-26,2023-11-21,5103.92,mobile,jason95@collins.com
8,b4862b21-fb97-4435-8856-1712e8e5216a,David Holt,63.0,NaN,Germany,2021-01-07,2024-04-16,1666.40,mobile,tammythomas@brown.org
9,259f4329-e6f4-490b-9a16-4106cf6a659e,Cameron Guerrero,29.0,Male,UK,2023-11-14,2024-12-15,7062.40,desktop,murraydylan@gmail.com
10,12e0c8b2-bad6-40fb-9948-8dec4f65d4d9,Heather Turner,76.0,Unknown,India,2020-09-16,2024-04-21,2649.93,mobile,reginafrancis@morris.biz
11,5487ce1e-af19-422a-99b8-a714e61a441c,Gary Brown,49.0,NaN,USA,2020-06-29,NaN,8294.37,mobile,rogerslance@gmail.com
12,5a921187-19c7-4df4-8f4f-f31e78de5857,Patrick Hayden,35.0,Female,India,2022-05-09,2024-10-07,3747.94,mobile,diazbrian@hotmail.com
13,a3f2c9bf-9c63-46b9-90f2-44556f25e2a2,Breanna Mcdowell,NaN,Male,Germany,2024-03-23,2024-09-15,NaN,NaN,davidking@gmail.com
14,8d723104-f773-43c1-b458-a748e9bb17bc,Gary Holloway,25.0,NaN,NaN,2022-08-07,2023-06-05,4162.92,mobile,shelby04@lucero-petersen.info
15,85776e9a-dd84-439e-b154-5a137a1d5006,Ian Brown,58.0,Unknown,UK,2023-07-15,2024-02-10,7392.79,desktop,zhernandez@gmail.com
16,eb2083e6-ce16-4dba-8ff1-8e0242af9fc3,Cristian Shepard,29.0,Female,USA,2022-03-03,2025-02-16,8169.49,desktop,hollyleonard@yahoo.com
17,17e0aa3c-0398-4ca8-aa7e-9d498c778ea6,Melissa Mann,NaN,NaN,USA,2022-05-31,2024-12-05,NaN,desktop,hperez@jones.com
18,b5d32b16-6619-4cb1-9710-37d1b83e90ec,Hannah Rose,70.0,NaN,USA,2022-08-06,NaN,258.34,NaN,lancepayne@yahoo.com
19,a0116be5-ab0c-4681-88f8-e3d0d3290a4c,George Moore,63.0,Unknown,USA,2022-09-11,2024-07-03,8494.35,desktop,NaN

We still need to fix the Name at index 6 which is a number instead of a name and the email at index 3 doesn't look like it's in proper format ,but for now I shall look into rows 20-50 to see if there are any changes I can do there.

In [13]:
df.iloc[20:51]

,CustomerID,Name,Age,Gender,Country,SignupDate,LastLogin,TotalPurchase,PreferredDevice,Email
20,d3fbf47a-7e5b-4e7f-9ca5-499d004ae545,Daniel Mullins,76.0,NaN,India,2022-02-26,2023-12-25,8660.21,NaN,millerholly@smith.biz
21,baf3897a-3e70-416a-9548-5822de1b372a,Timothy Bean,76.0,NaN,India,2021-11-29,2025-01-20,1001.61,desktop,kimberlyadams@riley.com
22,101fbccc-ded7-43e8-b421-eaeb534097ca,Daniel Parks,-5.0,Unknown,USA,2020-09-08,2023-05-30,1145.06,mobile,adammclean@wood-wilson.info
23,38c1962e-9148-424f-aac1-c14f30e9c5cc,Kathleen Garrett,66.0,NaN,Germany,NaN,2024-06-19,872.04,mobile,ibush@hotmail.com
24,247a8333-f7b0-47d2-8da8-056c3d15eef7,Kathleen Davis,60.0,NaN,Canda,2020-07-30,2025-02-01,3381.94,mobile,greenbrenda@martin.com
25,1759edc3-72ae-4244-8b01-63c1cd9d2b7d,Nicole Clark,30.0,Female,USA,2023-02-22,2024-11-20,5371.60,desktop,suzanne11@hutchinson.com
26,e005b860-51ef-4922-be43-c49e149818d1,Karen Weber,69.0,Female,USA,2023-09-02,2023-05-24,NaN,NaN,ypena@gray-holmes.org
27,7d41e602-eece-428b-bf7b-118e820865d6,James Ward,59.0,Female,NaN,2023-07-25,2024-11-13,3091.98,desktop,vwells@castro.info
28,4a84eb03-8d1f-49b7-8d2b-9deb1beb3711,Dean Grant,38.0,Unknown,India,2023-11-15,2025-05-11,480.54,mobile,kthomas@browning.com
29,552f233a-8c25-466a-9ff3-9849b4e1357d,4622,54.0,Female,NaN,2022-10-25,2023-11-03,NaN,mobile,amy99@manning-silva.biz
30,3405095c-8a50-46c1-ac18-8efbd080e66e,6125,37.0,NaN,UK,2023-09-08,2024-08-04,6939.60,NaN,brian08@hotmail.com
31,8c1745a7-9a6a-4f92-8ca7-4147f6be1f72,Justin Morris,29.0,Female,USA,2020-08-11,2025-03-03,-676.59,mobile,joshua70@anderson.com
32,1775336d-71ea-4d05-89a3-e80e966e1277,Michael Ross,200.0,Female,USA,2021-02-15,2024-09-10,7377.67,mobile,jimmyholt@gmail.com
33,5129fb7c-6288-41a5-8c45-782198a6416d,Tonya Williams,NaN,Female,NaN,2023-06-13,2023-06-13,5089.81,desktop,walkerjennifer@yahoo.com
34,2f120554-4a53-48cc-bdfa-bc08935ddd72,Cynthia Warren,74.0,Unknown,India,2020-11-09,2023-05-19,7804.75,desktop,lauren06@lambert.com
35,0870e15c-2fcd-41b5-924b-ace4307bf326,Lori Dawson,49.0,Female,NaN,2020-06-12,2023-08-28,3689.87,NaN,nicole31@johnson.com
36,42930b33-a81a-4477-bb36-75b89cdeb3e6,Thomas Faulkner,50.0,NaN,Germany,2020-07-24,2025-01-02,NaN,mobile,shawmichael@gmail.com
37,adc0da7a-16fe-4aa0-91af-923d79fdef7c,Jennifer White,39.0,Male,India,2022-05-08,2024-09-23,NaN,mobile,sreyes@shaffer-blackwell.biz
38,2648ee38-e074-45eb-a156-63abc1f254b8,James Golden,41.0,Female,India,2020-08-30,2023-06-26,3404.11,NaN,ggriffin@bonilla-cowan.info
39,148b2758-d7ab-4928-89e4-69e6ec62b2c8,Kristin Simon,76.0,Female,Canda,2023-01-22,2024-06-13,8251.95,NaN,bjones@hotmail.com
40,NaN,Justin Coleman,73.0,Female,NaN,2023-01-25,2024-09-10,5711.10,NaN,reedandrew@mcintyre.com
41,d450fe4a-ec4f-417b-b306-d1a8e5eeac76,Frederick Sanchez,46.0,Unknown,India,2020-09-27,2023-06-13,2267.67,mobile,btate@nelson.com
42,d67e55fd-642b-4a42-aef9-c00b8a64c1b9,Kendra Curtis,70.0,Female,NaN,2020-06-30,2024-01-30,1928.84,mobile,whitneyhill@hotmail.com
43,85940927-468f-453d-864a-7a50b48d73f1,Brandon Petersen,76.0,Unknown,India,2021-03-23,2024-07-16,2125.18,NaN,NaN
44,37176e84-d977-4993-bc49-d76fcfc6e625,Laura Harris,76.0,NaN,Canda,2023-12-09,2024-08-19,6066.79,NaN,jennifer85@gmail.com
45,d3447490-96fd-45d0-adf2-0806e5214606,Jason Meyers,45.0,Female,Germany,2020-08-03,2024-08-07,343.48,desktop,carolynpark@turner.net
46,46743741-9466-4472-ab5f-5241f323ca74,2253,37.0,Female,USA,2020-07-16,2023-09-27,45.64,desktop,stacey52@turner.com
47,a425799a-a905-4750-be1e-a9c573581a81,Megan Perry,23.0,Unknown,NaN,2021-03-06,2024-11-28,681.26,NaN,vperez@yahoo.com
48,fb82860d-eabc-48d0-b341-facdff0ac0f1,Michael Barnes,64.0,NaN,USA,2021-12-31,2024-06-21,9707.40,NaN,lanelauren@yahoo.com
49,5306f3f5-1516-4570-9b7c-709acb175a5a,Henry Short,58.0,NaN,NaN,2022-06-07,2024-08-21,1459.51,NaN,jamesbrown@yahoo.com
50,964a870c-7c87-4b74-9d87-8f9f9cdf5a86,Mrs. Natalie Moreno,60.0,Male,USA,2023-07-20,2025-02-22,6537.65,mobile,laura59@yahoo.com

#### Fixing invalid ages like -5(row index 22) and 200(row index 32) etc

In [14]:
cf = df['Age'].where((df['Age'] >= 0) & (df['Age'] <= 120), pd.NA)

In [15]:
cf.iloc[32:33]

32   NaN
Name: Age, dtype: float64

Here I created a new variable and stored it here to check if the method I used worked.I was planning to set it into the actual dataset only if it worked.So I didn't want to test it on the actual dataset.

Looks like it worked so I ll implement it now.

In [16]:
df['Age'] = df['Age'].where((df['Age'] >= 0) & (df['Age'] <= 120), pd.NA)

In [17]:
df.iloc[20:51]

,CustomerID,Name,Age,Gender,Country,SignupDate,LastLogin,TotalPurchase,PreferredDevice,Email
20,d3fbf47a-7e5b-4e7f-9ca5-499d004ae545,Daniel Mullins,76.0,NaN,India,2022-02-26,2023-12-25,8660.21,NaN,millerholly@smith.biz
21,baf3897a-3e70-416a-9548-5822de1b372a,Timothy Bean,76.0,NaN,India,2021-11-29,2025-01-20,1001.61,desktop,kimberlyadams@riley.com
22,101fbccc-ded7-43e8-b421-eaeb534097ca,Daniel Parks,NaN,Unknown,USA,2020-09-08,2023-05-30,1145.06,mobile,adammclean@wood-wilson.info
23,38c1962e-9148-424f-aac1-c14f30e9c5cc,Kathleen Garrett,66.0,NaN,Germany,NaN,2024-06-19,872.04,mobile,ibush@hotmail.com
24,247a8333-f7b0-47d2-8da8-056c3d15eef7,Kathleen Davis,60.0,NaN,Canda,2020-07-30,2025-02-01,3381.94,mobile,greenbrenda@martin.com
25,1759edc3-72ae-4244-8b01-63c1cd9d2b7d,Nicole Clark,30.0,Female,USA,2023-02-22,2024-11-20,5371.60,desktop,suzanne11@hutchinson.com
26,e005b860-51ef-4922-be43-c49e149818d1,Karen Weber,69.0,Female,USA,2023-09-02,2023-05-24,NaN,NaN,ypena@gray-holmes.org
27,7d41e602-eece-428b-bf7b-118e820865d6,James Ward,59.0,Female,NaN,2023-07-25,2024-11-13,3091.98,desktop,vwells@castro.info
28,4a84eb03-8d1f-49b7-8d2b-9deb1beb3711,Dean Grant,38.0,Unknown,India,2023-11-15,2025-05-11,480.54,mobile,kthomas@browning.com
29,552f233a-8c25-466a-9ff3-9849b4e1357d,4622,54.0,Female,NaN,2022-10-25,2023-11-03,NaN,mobile,amy99@manning-silva.biz
30,3405095c-8a50-46c1-ac18-8efbd080e66e,6125,37.0,NaN,UK,2023-09-08,2024-08-04,6939.60,NaN,brian08@hotmail.com
31,8c1745a7-9a6a-4f92-8ca7-4147f6be1f72,Justin Morris,29.0,Female,USA,2020-08-11,2025-03-03,-676.59,mobile,joshua70@anderson.com
32,1775336d-71ea-4d05-89a3-e80e966e1277,Michael Ross,NaN,Female,USA,2021-02-15,2024-09-10,7377.67,mobile,jimmyholt@gmail.com
33,5129fb7c-6288-41a5-8c45-782198a6416d,Tonya Williams,NaN,Female,NaN,2023-06-13,2023-06-13,5089.81,desktop,walkerjennifer@yahoo.com
34,2f120554-4a53-48cc-bdfa-bc08935ddd72,Cynthia Warren,74.0,Unknown,India,2020-11-09,2023-05-19,7804.75,desktop,lauren06@lambert.com
35,0870e15c-2fcd-41b5-924b-ace4307bf326,Lori Dawson,49.0,Female,NaN,2020-06-12,2023-08-28,3689.87,NaN,nicole31@johnson.com
36,42930b33-a81a-4477-bb36-75b89cdeb3e6,Thomas Faulkner,50.0,NaN,Germany,2020-07-24,2025-01-02,NaN,mobile,shawmichael@gmail.com
37,adc0da7a-16fe-4aa0-91af-923d79fdef7c,Jennifer White,39.0,Male,India,2022-05-08,2024-09-23,NaN,mobile,sreyes@shaffer-blackwell.biz
38,2648ee38-e074-45eb-a156-63abc1f254b8,James Golden,41.0,Female,India,2020-08-30,2023-06-26,3404.11,NaN,ggriffin@bonilla-cowan.info
39,148b2758-d7ab-4928-89e4-69e6ec62b2c8,Kristin Simon,76.0,Female,Canda,2023-01-22,2024-06-13,8251.95,NaN,bjones@hotmail.com
40,NaN,Justin Coleman,73.0,Female,NaN,2023-01-25,2024-09-10,5711.10,NaN,reedandrew@mcintyre.com
41,d450fe4a-ec4f-417b-b306-d1a8e5eeac76,Frederick Sanchez,46.0,Unknown,India,2020-09-27,2023-06-13,2267.67,mobile,btate@nelson.com
42,d67e55fd-642b-4a42-aef9-c00b8a64c1b9,Kendra Curtis,70.0,Female,NaN,2020-06-30,2024-01-30,1928.84,mobile,whitneyhill@hotmail.com
43,85940927-468f-453d-864a-7a50b48d73f1,Brandon Petersen,76.0,Unknown,India,2021-03-23,2024-07-16,2125.18,NaN,NaN
44,37176e84-d977-4993-bc49-d76fcfc6e625,Laura Harris,76.0,NaN,Canda,2023-12-09,2024-08-19,6066.79,NaN,jennifer85@gmail.com
45,d3447490-96fd-45d0-adf2-0806e5214606,Jason Meyers,45.0,Female,Germany,2020-08-03,2024-08-07,343.48,desktop,carolynpark@turner.net
46,46743741-9466-4472-ab5f-5241f323ca74,2253,37.0,Female,USA,2020-07-16,2023-09-27,45.64,desktop,stacey52@turner.com
47,a425799a-a905-4750-be1e-a9c573581a81,Megan Perry,23.0,Unknown,NaN,2021-03-06,2024-11-28,681.26,NaN,vperez@yahoo.com
48,fb82860d-eabc-48d0-b341-facdff0ac0f1,Michael Barnes,64.0,NaN,USA,2021-12-31,2024-06-21,9707.40,NaN,lanelauren@yahoo.com
49,5306f3f5-1516-4570-9b7c-709acb175a5a,Henry Short,58.0,NaN,NaN,2022-06-07,2024-08-21,1459.51,NaN,jamesbrown@yahoo.com
50,964a870c-7c87-4b74-9d87-8f9f9cdf5a86,Mrs. Natalie Moreno,60.0,Male,USA,2023-07-20,2025-02-22,6537.65,mobile,laura59@yahoo.com

Now I observed that in the Country column a new country called 'Canda' appeared.So I wanted to check how many unique values are present in that column so I could fix it all at once,instead of looking for each unique one manually.

In [18]:
df['Country'].value_counts(dropna=False)

Country
India      12926
NaN        12670
USA         6405
Germany     6400
UK          6334
Canda       6265
Name: count, dtype: int64

Looking good.But I realised that Canada is misspelled,so I ll fix that now.

In [19]:
df['Country'] = df['Country'].replace('Canda', 'Canada')

 I ll just recheck now.

In [20]:
df['Country'].value_counts(dropna=False)

Country
India      12926
NaN        12670
USA         6405
Germany     6400
UK          6334
Canada      6265
Name: count, dtype: int64

#### Now I saw that there are some negative values in TotalPurchase column ,so I ll fix those.

In [21]:
df.loc[df['TotalPurchase'] < 0, 'TotalPurchase'] = pd.NA

In [22]:
df.loc[20:50, 'TotalPurchase']

20    8660.21
21    1001.61
22    1145.06
23     872.04
24    3381.94
25    5371.60
26        NaN
27    3091.98
28     480.54
29        NaN
30    6939.60
31        NaN
32    7377.67
33    5089.81
34    7804.75
35    3689.87
36        NaN
37        NaN
38    3404.11
39    8251.95
40    5711.10
41    2267.67
42    1928.84
43    2125.18
44    6066.79
45     343.48
46      45.64
47     681.26
48    9707.40
49    1459.51
50    6537.65
Name: TotalPurchase, dtype: float64

loc gives you the exact index number whereas the iloc selects from default indexing method

#### Convert date columns to date format using pd.to_datetime()

In [23]:
df['SignupDate'] = pd.to_datetime(df['SignupDate'])

In [24]:
df['LastLogin'] = pd.to_datetime(df['LastLogin'])

#### I wanted to first check the number of rows present

In [25]:
len(df)

51000

#### Now we'll delete duplicate rows,if any.

In [26]:
df = df.drop_duplicates()

Recheck no. of rows now

In [27]:
len(df)

50000

So there were 1000 duplicate rows

### Now I thought what if there were rows having the same CustomerID,it's not possible.So I'll look into that.

In [28]:
df['CustomerID'].dropna().duplicated().sum()

np.int64(0)

So there existed no duplicated CustomerIDs.

In [29]:
df.loc[51:70]

,CustomerID,Name,Age,Gender,Country,SignupDate,LastLogin,TotalPurchase,PreferredDevice,Email
51,30bcab0e-d857-4102-95d4-4936a1515607,Linda Allison,31.0,NaN,India,2020-12-24,2025-02-18,9758.17,desktop,deborahellis@gmail.com
52,4562be7f-bb42-40b2-8426-465e3e37952d,8385,46.0,Male,Canada,2020-06-21,2023-11-24,8511.10,NaN,garrettkelly@gregory.com
53,5f3f5638-3870-4a14-b490-b6081dfc8352,Angelica Smith,60.0,NaN,NaN,2022-12-28,2025-05-15,5094.31,desktop,warnerlindsey@hotmail.com
54,6d16ee18-5521-46dd-aba4-b180cb69ca38,John Miles,22.0,Female,NaN,2021-04-27,2024-11-12,4387.49,mobile,snguyen@gmail.com
55,c87a7463-19c1-4a0d-8feb-d845d0dfae43,Thomas Stone,76.0,Male,USA,2021-08-06,2023-11-16,8231.10,mobile,melissafox@pope.info
56,38018b47-b29a-4b06-9af6-6c5f2577bffa,Patricia Burke,36.0,Unknown,India,2021-01-07,2024-12-25,3588.30,mobile,mpoole@gmail.com
57,a25b59fd-92e8-4269-912e-cbc40b9475b1,Haley Porter,68.0,Male,USA,2023-06-22,2024-11-07,3655.53,desktop,mcdanielbrett@yahoo.com
58,9a27d858-88c1-42ad-afbf-c19ee8f6cf32,Steven Brown,65.0,NaN,USA,2022-11-05,2024-05-20,9526.49,NaN,sean90@thompson.net
59,1fdb8b32-06d5-49e8-92f1-75ffae3b16ec,Katherine Morrison,56.0,NaN,USA,2020-07-11,2024-01-29,9520.28,mobile,invalidemail.com
60,d480865f-9b38-4e80-b042-e325a28f5ab0,Jennifer Rodriguez,63.0,Female,Germany,2023-05-17,2024-04-17,3028.49,desktop,john55@gmail.com
61,176ea1b1-6426-4cd5-9ea4-5cd69371a71f,Joseph Hunter,18.0,NaN,UK,2020-08-15,2024-11-03,6710.16,NaN,dwilliams@garrett.com
62,1db53334-fb03-43a1-9576-d4155ec17dbe,4981,71.0,Female,USA,2021-09-14,2023-12-15,5404.99,mobile,khenderson@hotmail.com
63,31d0b664-0589-4877-9b02-52440950fd13,Edward Greene,32.0,Female,Germany,2021-09-19,2024-07-12,9941.44,NaN,NaN
64,b7d6467b-2f5a-422a-b87f-43fdf6062541,Kristin Lee,42.0,Male,India,2024-02-21,2023-09-01,6695.14,mobile,user@.com
65,ba26d851-35e8-479a-baaf-0e891fb797fa,Kristi Brown,47.0,Male,India,2020-12-27,2024-06-21,2135.86,desktop,fchen@washington.info
66,ade9b2b4-efdd-45f8-8fa3-4266ccfdba9b,Cynthia Ryan,33.0,Female,USA,2022-05-12,2025-05-09,2229.94,mobile,bcook@hotmail.com
67,9edfa3da-6cf5-4b15-8b53-031d05d51433,Erin Perez,39.0,Female,India,2020-07-23,2023-07-15,8385.95,mobile,katrina56@wong.com
68,11ebcd49-428a-4c22-95fd-b76a19fbeb1d,Mr. Anthony Wong MD,68.0,NaN,Germany,2023-09-05,2023-10-26,6638.27,mobile,wwilson@lewis.com
69,4d125e7f-a59c-4c98-926c-bc8f38884479,Matthew Reed,39.0,Male,UK,2021-04-21,2024-11-05,8594.55,NaN,danielle32@cox.net
70,0fa07a3f-2e29-4065-afa2-31e959acdd98,William Bennett,NaN,Female,NaN,2021-10-22,2024-08-14,8178.64,NaN,tracygolden@olson-dominguez.com

#### Now we shall replace the numbers present in the Name column with NaN.

In [30]:
import numpy as np

Here we imported numpy because if we used pd.NA in the below command it would replace it with `<NA>` ,and not NaN, as the Name column is of string type.But there already exists some NaN values and if `<NA>` values get added,it creates data inconsistency!

It would be better if they are consistent with NaN,as this type already exists in the dataset.

In [31]:
df['Name'].apply(type).value_counts()

Name
<class 'str'>    50000
Name: count, dtype: int64

The above commad was run to see the different datatypes present in this column.

In [32]:
df['Name'] = df['Name'].where(~df['Name'].astype(str).str.isdigit(), np.nan)

where() keeps values where a condition is True, and replaces others with NaN (or another value you specify).

The astype(str) first converts the input to string datatype then works on it.

Checking if this worked.I know rows 6,29,30,46,52,62 had numbers in them and 68 had a name.

In [33]:
df.loc[[6,29,30,46,52,62,68],'Name']

6                     NaN
29                    NaN
30                    NaN
46                    NaN
52                    NaN
62                    NaN
68    Mr. Anthony Wong MD
Name: Name, dtype: object

#### In the Gender column replacing Unknown with NaN as they mean the same.

In [34]:
df['Gender'] = df['Gender'].replace('Unknown',np.nan)

Checking if that worked...

In [35]:
df['Gender'].value_counts(dropna=False)

Gender
NaN       21426
Female    14397
Male      14177
Name: count, dtype: int64

In [36]:
df.loc[51:70]

,CustomerID,Name,Age,Gender,Country,SignupDate,LastLogin,TotalPurchase,PreferredDevice,Email
51,30bcab0e-d857-4102-95d4-4936a1515607,Linda Allison,31.0,NaN,India,2020-12-24,2025-02-18,9758.17,desktop,deborahellis@gmail.com
52,4562be7f-bb42-40b2-8426-465e3e37952d,NaN,46.0,Male,Canada,2020-06-21,2023-11-24,8511.10,NaN,garrettkelly@gregory.com
53,5f3f5638-3870-4a14-b490-b6081dfc8352,Angelica Smith,60.0,NaN,NaN,2022-12-28,2025-05-15,5094.31,desktop,warnerlindsey@hotmail.com
54,6d16ee18-5521-46dd-aba4-b180cb69ca38,John Miles,22.0,Female,NaN,2021-04-27,2024-11-12,4387.49,mobile,snguyen@gmail.com
55,c87a7463-19c1-4a0d-8feb-d845d0dfae43,Thomas Stone,76.0,Male,USA,2021-08-06,2023-11-16,8231.10,mobile,melissafox@pope.info
56,38018b47-b29a-4b06-9af6-6c5f2577bffa,Patricia Burke,36.0,NaN,India,2021-01-07,2024-12-25,3588.30,mobile,mpoole@gmail.com
57,a25b59fd-92e8-4269-912e-cbc40b9475b1,Haley Porter,68.0,Male,USA,2023-06-22,2024-11-07,3655.53,desktop,mcdanielbrett@yahoo.com
58,9a27d858-88c1-42ad-afbf-c19ee8f6cf32,Steven Brown,65.0,NaN,USA,2022-11-05,2024-05-20,9526.49,NaN,sean90@thompson.net
59,1fdb8b32-06d5-49e8-92f1-75ffae3b16ec,Katherine Morrison,56.0,NaN,USA,2020-07-11,2024-01-29,9520.28,mobile,invalidemail.com
60,d480865f-9b38-4e80-b042-e325a28f5ab0,Jennifer Rodriguez,63.0,Female,Germany,2023-05-17,2024-04-17,3028.49,desktop,john55@gmail.com
61,176ea1b1-6426-4cd5-9ea4-5cd69371a71f,Joseph Hunter,18.0,NaN,UK,2020-08-15,2024-11-03,6710.16,NaN,dwilliams@garrett.com
62,1db53334-fb03-43a1-9576-d4155ec17dbe,NaN,71.0,Female,USA,2021-09-14,2023-12-15,5404.99,mobile,khenderson@hotmail.com
63,31d0b664-0589-4877-9b02-52440950fd13,Edward Greene,32.0,Female,Germany,2021-09-19,2024-07-12,9941.44,NaN,NaN
64,b7d6467b-2f5a-422a-b87f-43fdf6062541,Kristin Lee,42.0,Male,India,2024-02-21,2023-09-01,6695.14,mobile,user@.com
65,ba26d851-35e8-479a-baaf-0e891fb797fa,Kristi Brown,47.0,Male,India,2020-12-27,2024-06-21,2135.86,desktop,fchen@washington.info
66,ade9b2b4-efdd-45f8-8fa3-4266ccfdba9b,Cynthia Ryan,33.0,Female,USA,2022-05-12,2025-05-09,2229.94,mobile,bcook@hotmail.com
67,9edfa3da-6cf5-4b15-8b53-031d05d51433,Erin Perez,39.0,Female,India,2020-07-23,2023-07-15,8385.95,mobile,katrina56@wong.com
68,11ebcd49-428a-4c22-95fd-b76a19fbeb1d,Mr. Anthony Wong MD,68.0,NaN,Germany,2023-09-05,2023-10-26,6638.27,mobile,wwilson@lewis.com
69,4d125e7f-a59c-4c98-926c-bc8f38884479,Matthew Reed,39.0,Male,UK,2021-04-21,2024-11-05,8594.55,NaN,danielle32@cox.net
70,0fa07a3f-2e29-4065-afa2-31e959acdd98,William Bennett,NaN,Female,NaN,2021-10-22,2024-08-14,8178.64,NaN,tracygolden@olson-dominguez.com

#### The only column left to fix is the email one.

Define a regex(regular expression) pattern for valid emails.(It checks if the email starts with valid username characters, has an '@', followed by a valid domain with a dot, and ends with a domain extension of at least two letters.)

r => Raw string to avoid escape issues

{2,} => Extension with 2+ letters

$ => End of string

In [37]:
valid_email_pattern = r'^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'

Apply the pattern and replace invalid ones with NaN.

In [38]:
df['Email'] = df['Email'].where(df['Email'].str.match(valid_email_pattern, na=False), np.nan)

`str.match` checks if the entire string matches the regex pattern from start to end. It returns True if it matches fully, else False.

na=False means: if the value is missing (NaN), treat it as not matching (i.e., return False) instead of NaN.

##### I know rows 3,59,64 had invalid emails and let's just take another,say 10,to check if our above command worked.

In [39]:
df.loc[[3,59,64,10],'Email']

3                          NaN
59                         NaN
64                         NaN
10    reginafrancis@morris.biz
Name: Email, dtype: object

### Let's now check if we successfully cleaned the given data,by taking few other rows!

In [40]:
df.loc[41615:41630]

,CustomerID,Name,Age,Gender,Country,SignupDate,LastLogin,TotalPurchase,PreferredDevice,Email
41615,c2774680-ec41-4454-8106-1de139d81879,Christina Morgan,25.0,NaN,USA,2022-01-16,2024-08-04,9124.16,NaN,brenda19@yahoo.com
41616,9000c978-9dee-44c1-9636-7b2834993e81,Suzanne Reilly,50.0,Male,Germany,2021-06-29,2024-12-18,2084.86,desktop,taylorgregory@wilson.com
41617,3f05a438-9e05-46f0-a59e-600154e8cf48,Danielle Fleming,NaN,NaN,USA,2021-11-13,2024-03-23,741.88,NaN,crystallewis@rodriguez.com
41618,90eedfed-ceb5-45c1-812a-9f5b043ee6c7,Jennifer Sheppard,77.0,Male,UK,2024-05-14,2024-11-21,8295.13,NaN,smithanthony@hotmail.com
41619,c042b381-89c8-4d83-b28c-427bb028c344,Nancy Kim,23.0,Female,UK,2024-04-26,2024-11-16,8416.60,NaN,amy58@hotmail.com
41620,80cd80df-4bd4-4e0d-9d96-09864c6c0300,Andre Aguilar,54.0,Female,India,2021-10-18,2024-08-18,9323.76,desktop,lindsay14@hotmail.com
41621,332fac1a-644e-4990-b5b9-92ebb35eab42,Cody Brooks,37.0,NaN,NaN,2023-03-16,2023-07-02,1462.11,mobile,joneskelly@fisher.org
41622,2a356c98-7f1e-43ca-b89a-d0b628b74409,Cathy Cain,68.0,NaN,India,2022-07-29,2025-04-18,7990.94,mobile,joseph49@bonilla.com
41623,c6057b3e-45bc-4266-bb28-5fd1b4b8fe48,Donald Harper,31.0,NaN,USA,2021-07-01,2023-09-05,1613.61,NaN,alec70@hotmail.com
41624,f3fad1ca-e5f7-48c5-80dc-ea71c4f93c08,Anna Sanchez,76.0,Male,UK,2021-05-29,2024-08-25,6039.96,NaN,nashamy@gmail.com
41625,d2cf99dc-c76f-423c-b394-455dd2103446,Michael Martinez,76.0,NaN,NaN,2022-07-23,2023-08-09,6315.64,desktop,udixon@hotmail.com
41626,8ec13aa1-b5da-4885-933f-9e6580584046,Rebecca Aguirre,33.0,NaN,India,2020-08-23,2024-01-25,6640.47,mobile,fosterlisa@yahoo.com
41627,80d170a1-978e-4846-9533-49e1d80bdee0,Lauren Banks,NaN,Male,USA,2023-02-18,2025-02-03,9065.45,mobile,NaN
41628,935874d9-80f8-4ed2-906c-9a06d9cd0fbd,Kevin Morris,51.0,NaN,NaN,2021-03-21,2025-05-08,584.80,desktop,mirandajackson@cruz-riggs.com
41629,c2c6703b-c669-4184-baaa-6d0660df75c4,Cassandra Chavez,44.0,Male,India,2024-03-17,2024-01-12,9221.26,desktop,preston90@coleman-miller.com
41630,fe79c353-e591-494a-b7ee-0fb044cd5422,Sonia Howard,NaN,NaN,India,2023-10-12,2023-09-21,6508.04,mobile,chelseakennedy@bowers.org

##### Just checking the datatypes of all columns

In [41]:
df.dtypes

CustomerID                 object
Name                       object
Age                       float64
Gender                     object
Country                    object
SignupDate         datetime64[ns]
LastLogin          datetime64[ns]
TotalPurchase             float64
PreferredDevice            object
Email                      object
dtype: object

### Saving the cleaned dataset as a new CSV...

In [42]:
df.to_csv('CleanedData.csv',index=False)

The purpose of index=False is to prevent pandas from writing the DataFrames index as a separate column in the output CSV file.

### Order

So the order in which I worked on the columns is:
Country,PreferredDevice,Gender,Age,Country,TotalPurchase,SignupDate,LastLogin,CustomerID,Name,Gender,Email !!!

I didn't do anything on the CustomerID column as it was already perfect.

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       49511 non-null  object
 1   Name             47557 non-null  object
 2   Age              45015 non-null  float64
 3   Gender           28574 non-null  object
 4   Country          37563 non-null  object
 5   SignupDate       48976 non-null  datetime64[ns]
 6   LastLogin        48963 non-null  datetime64[ns]
 7   TotalPurchase    45124 non-null  float64
 8   PreferredDevice  33217 non-null  object
 9   Email            44946 non-null  object
dtypes: datetime64[ns](2), float64(2), object(6)
memory usage: 5.2+ MB